body, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px; }

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template: 150px auto / 100%;
  grid-template-areas: "header" "panel" "main"; }

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background: #559FBF;
  grid-area: header; }

.panel {
  border: 1px solid darksalmon; }

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  border: 1px solid darkorange;
  grid-area: main; }

@media screen and (min-width: 0px) and (max-width: 320px) {
  .panel {
    display: none; } }

@media screen and (min-width: 480px) {
  .panel {
    display: block; } }

@media screen and (min-width: 1200px) {
  body {
    -ms-grid-columns: 30% 70%;
    grid-template: 250px auto / 30% 70%;
    grid-template-areas: "header header" "panel main"; }
  header {
    height: 250px; }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 2; } }
