/*#region FontFamily*/
/*
    font-family: 'ABeeZee', sans-serif;

    font-family: 'Amiko', sans-serif;

    font-family: 'Archivo Narrow', sans-serif;

    font-family: 'Heebo', sans-serif;
*/
/*#endregion*/
/*#region HEADER*/
/*#region Areas*/
/*#endregion*/
/*#region small (hd_sm_---_--)*/
/*#region photoContaier (hd_sm_ptc_--)*/
/*#endregion*/
/*#endregion*/
/*#endregion*/
/*Images sizes:
25 - 25
50 - 50


*/
body, h1, h2, h3, h4, h5, h6, hr, p {
  padding: 0px;
  margin: 0px; }

hr {
  background-color: #1D6F93;
  height: 2px;
  display: inline-block;
  width: 100px; }

header {
  background: #559FBF;
  grid-area: header; }

.header_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  grid-template: auto auto / 30% 70%;
  grid-template-areas: "photoContainer degree" "photoContainer personalName"; }

.degree {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: degree;
  color: #B0DBEE;
  font-size: 22px;
  font-family: "ABeeZee", sans-serif;
  font-weight: bold; }

.personalName {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: personalName;
  color: #B0DBEE;
  font-size: 16px;
  font-family: "Amiko", sans-serif;
  align-self: flex-end; }

.photoContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  background-image: url("../../img/agb.png");
  grid-area: photoContainer;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center; }

.photoContainer img {
  height: inherit;
  width: inherit;
  border-radius: inherit; }

.header_container--modal {
  grid-area: header;
  display: none;
  z-index: 2;
  position: absolute;
  background: rgba(85, 159, 191, 0.5);
  color: #1D6F93;
  height: 21%;
  width: 100%;
  margin-top: -87px;
  text-align: center; }

.header_container--modal span {
  margin-left: 92%;
  margin-top: 4%; }

.panel {
  grid-area: panel;
  color: #1D6F93;
  background-color: #B0DBEE; }

.personalInformation_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.personalInformation_item {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.personalInformation_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px; }

.personalInformation_container a {
  margin-left: 10px;
  text-decoration: none;
  color: #1D6F93; }

.socialNetworks {
  text-align: center; }

.socialNetworks a {
  text-decoration: none; }

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px; }

.languages_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.languages_languageTitle {
  font-weight: bold; }

.main {
  grid-area: main; }

.main_title--container {
  display: inline-block;
  font-family: "Heebo", sans-serif; }

.main_title--section {
  color: #1D6F93;
  font-weight: bold; }

.main_job--title {
  color: #559FBF;
  font-weight: bold; }

.main_section--details {
  color: #559FBF; }

.main_link {
  color: #559FBF;
  text-decoration: none; }

.main_link:hover {
  text-decoration: underline; }

@media screen and (min-width: 0px) and (max-width: 320px) {
  body {
    -ms-grid-columns: 100%;
    grid-template: auto auto / 100%;
    grid-template-areas: "header" "mainSmall"; }
  .header {
    padding: 10px 0px; }
  .photoContainer {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    border: 3px solid #B0DBEE; }
  .degree {
    font-size: 18px; }
  .personalName {
    font-size: 16px; }
  .main {
    grid-area: visibleSection; }
  .main_section {
    padding: 10px 5px; }
  .main_title--container {
    display: inline-block;
    padding: 10px 5px; }
  .main_title--section {
    display: inline-block;
    font-size: 18px; }
  .main_job--title {
    font-size: 14px;
    padding: 1.5px 15px; }
  .main_section--details {
    font-size: 14px;
    padding: 3px 20px; }
  .main_link {
    font-size: 14px;
    display: block;
    padding-left: 20px;
    margin-bottom: 5px; }
  .panel {
    grid-area: mainSmall;
    z-index: 3; }
  .objective {
    font-size: 18px;
    padding: 10px 10px 0 10px;
    text-align: justify; }
  .personsalInformation {
    display: block; }
  .personalInformation_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .personalInformation_image {
    width: 30px;
    height: 30px; }
  .personalInformation_location {
    width: 25px;
    height: 30px; }
  .personalInformation_email {
    width: 30px;
    height: 20px; }
  .socialNetworks {
    margin-top: 15px; }
  .socialNetworks_image {
    width: 45px;
    height: 45px;
    margin: 5px 10px; }
  .socialNetworks p {
    font-size: 22px; }
  .languages {
    margin-top: 15px;
    display: block; }
  .languages_languageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }
  .languages_languageContainer p {
    display: inline-block;
    margin-left: 10px; }
  .hobbies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px; }
  .hobbies_hobbie {
    width: 45px;
    height: 45px;
    margin: 5px 10px; }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .header_container--modal {
    -ms-grid-row: 1;
    -ms-grid-column: 1; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  .panel {
    -ms-grid-row: 2;
    -ms-grid-column: 1; } }
